apiVersion: v1
kind: Service
metadata:
  name: todo-backend-service
  namespace: todo-app
spec:
  type: NodePort
  selector:
    app: todo-backend
  ports:
  - protocol: TCP
    port: 8080
    targetPort: 8080
    nodePort: 30081